.wrap-timer {
  width: 355px;
  margin: 0 auto;
  padding: 100px 0;
}

.wrap-input {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background: #fff;
  outline: none;
}

input:hover {
  border: 1px solid #000000;
}

input:active {
  border: 1px solid #4e75ff;
}

input:disabled {
  color: #808080;
}

button {
  border-radius: 8px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  border: none;
}

button:hover {
  background: #6c8cff;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  gap: 24px;
  width: 346px;
  height: 72px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

/* .flatpickr-calendar {
  border-radius: 8px !important;
  padding: 16px !important;
  width: 280px !important;
  height: 352px !important;
  background: #f5f5f5 !important;
} */

/* .flatpickr-month {
  font-weight: 600 !important;
  font-size: 16px !important;
  text-align: center !important;
  color: #333 !important;
} */

/* .flatpickr-weekday {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  text-align: center !important;
  color: #2e2f42 !important;
} */
